# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
client/.env
server/.env

# Temporary Uploads
server/uploads/*
!server/uploads/.gitkeep

# IDE / Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Build Directories
dist/
client/dist/
build/
